*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10%;
    
}

h1{
    background-color: khaki;
}

li{
    font-weight: 800;
    font-size: large;
    color: coral;
}